/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/************************************************************************/
/* COLORS                                                               */
/************************************************************************/

@primary-color: #1e91ae;
@indicator-color: @primary-color;

@brand-primary-dark1: #4ba7be;
@brand-primary-dark2: #83c3d2;
@brand-primary-light1: #1b839d;
@brand-primary-light2: #18748b;
@brand-primary-light3: #125768;
@brand-primary-light4: #0c3a46;
@brand-primary-light5: #061d23;

@brand-secondary: #50a777;
@brand-secondary-dark1: #73b992;
@brand-secondary-dark2: #9fcfb4;
@brand-secondary-dark3: #cbe5d6;
@brand-secondary-light1: #48966b;
@brand-secondary-light2: #40865f;
@brand-secondary-light3: #306447;
@brand-secondary-light4: #204330;
@brand-secondary-light5: #102118;

// TODO line up with theme
@almost-black: #f9f9f9;
@gray-dark: #dbdbdb;
@gray-light: #363636;
@gray-light5: #1b1b1b;
@gray: #1e91ae;
@gray-bg: #363636;
@gray-heading: #a0a0a0;
@menu-hover: ;
@lightest: #7a7a7a;
@darkest: #f9f9f9;

@body-bg: #000;

/**************************** text-specific *****************************/
@text-color: #fff;
@heading-color: #fff;
@link: #4ba7be;
@link-hover: #83c3d2;

/***************************** status colors ****************************/
@info: #5aa3db;
@info-dark1: #7bb5e2;
@info-dark2: #a4cceb;
@info-light1: #5193c5;
@info-light2: #4882af;

@danger: #c13c4b;
@danger-dark1: #cd636f;
@danger-dark2: #dd949c;
@danger-light1: #ae3644;
@danger-light2: #9a303c;

@success: #50a777;
@success-dark1: #73b992;
@success-dark2: #9fcfb4;
@success-light1: #48966b;
@success-light2: #40865f;

@warning: #d9ac03;
@warning-dark1: #e1bd35;
@warning-dark2: #ead174;
@warning-light1: #c39b03;
@warning-light2: #ae8a02;

/* general component effects */
@shadow-highlight: @primary-color;

/************************************************************************/
/* OPACITIES                                                            */
/* Used in LESS filters, e.g. fade(@someColorVar, @someOpacityBelow)    */
/************************************************************************/
@opacity-light: 10%;
@opacity-medium-light: 35%;
@opacity-medium-heavy: 60%;
@opacity-heavy: 80%;

/************************************************************************/
/* SHADES & TINTS                                                       */
/* Used in LESS filters for shadint/tinting,                            */
/* e.g. shade(@someColorVar, @colorstop-one) to darken                  */
/* or tint(@someColorVar, @colorstop-one) to lighten                    */
/************************************************************************/
@colorstop-one: 20%;
@colorstop-two: 40%;
@colorstop-three: 60%;
@colorstop-four: 80%;

/************************************************************************/
/* LAYOUT                                                               */
/* Widths and heights of things, that might be referred to often        */
/************************************************************************/

/* builder component pane */
@builder-pane-width: 374px;

/************************************************************************/
/* Z-INDEX                                                              */
/* Think of the site as "layers" rather than an arms race of numbers    */
/* Keep these to a minimum                                              */
/* Label semantic "layers" and add comments for usage notes             */
/* Use double dash modifiers to step up/down from a base layer          */
/* e.g. z-whatever--modifier                                            */
/************************************************************************/

/************************ toast messages, popovers **********************/
@z-index-max: 3000;

/***** filters, dashboard editor widgets, Explore reloading overlay *****/
@z-index-dropdown: @z-index-above-dashboard-charts + 1;
@z-index-above-dashboard-charts: 10;

/******************************** charts ********************************/
@z-index-chart--dragging: @z-index-chart + 1;
@z-index-chart: 1;

/************************************************************************/
/* TYPOGRAPHY                                                           */
/* Commonly used font weights, line heights, etc. These should be the   */
/* core values used to build more complex styles for headers, etc.      */
/************************************************************************/
@font-size-base: 14px; // Base `rem` units on this, as needed.

@font-weight-light: 200;
@font-weight-normal: 400;
@font-weight-bold: 600;

@font-size-xxs: 9px;
@font-size-xs: 10px;
@font-size-s: 12px;
@font-size-m: 14px;
@font-size-l: 16px;
@font-size-xl: 20px;
@font-size-xxl: 24px;

// **************************** Line Heights ****************************
@line-height-base: 1.4;
// Ranged Sizes
@line-height-tight: 1;
@line-height-normal: @line-height-base;
@line-height-loose: 2;

// ****************************** Features *******************************
@use-ligatures: false;

// setting up OTF settings based on @use-ligatures:
.set-otf-options(@use-ligatures);

.set-otf-options(true) {
  @font-feature-settings:
    'liga' on,
    'calt' on;
}

.set-otf-options(false) {
  @font-feature-settings:
    'liga' off,
    'calt' off;
}

// ****************************** Families ******************************

@font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
'Noto Color Emoji';
@font-family-monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
@font-family-base: @font-family-sans-serif;
@line-height-tight: 1;

/************************************************************************/
/* TRANSITIONS                                                          */
/************************************************************************/
@timing-normal: 0.3s;

/************************************************************************/
/* BORDER RADII                                                         */
/* Standard border-radius settings                                      */
/************************************************************************/
@border-radius-normal: 4px;
@border-radius-large: (@border-radius-normal * 2);

/************************************************************************/
/* BOOTSTRAP/BOOTSWATCH/COSMO                                           */
/* These are the legacy Cosmo theme overrides to Bootswatch's           */
/* overrides to Bootstrap. We should consolidate/deprecate these        */
/* in favor of custom/reusable CSS wherever possible                    */
/************************************************************************/

@import '../less/cosmo/variables.less';
